SpliceComponent input-dim=13 left-context=5 right-context=5
FixedAffineComponent matrix=exp/nnet4a/lda.mat
AffineComponentPreconditioned input-dim=143 output-dim=375 alpha=4.0 max-change=10.0 learning-rate=0.02 param-stddev=0.0516397779494322 bias-stddev=0.5
TanhComponent dim=375
AffineComponentPreconditioned input-dim=375 output-dim=1405 alpha=4.0 max-change=10.0 learning-rate=0.02 param-stddev=0 bias-stddev=0
SoftmaxComponent dim=1405
